<% provide(:title, 'Home') %>
<div class="jumbotron">
  <h1>Making a classic game customizable</h1>
  <p class="lead">Built for <a target="_blank" href="http://www.carecendc.org/">CARECEN</a> as a tool to help teach, Custom Catch-Phrase is a web application that allows users to make their own phrases and save those sets to their account. For more about the game Catch Phrase, go <a target="_blank" href="http://en.wikipedia.org/wiki/Catch_Phrase_(game)">here</a>.</p>
  <%= link_to "Register to get started", new_user_registration_path, { :class => "btn btn-large btn-success" } %>
  <p><small>or <%= link_to "sign in", new_user_session_path %> to your account</small></p>
</div>