<% provide(:title, "#{current_user}:#{@game.name}") %>
<div id="game">
<h2 class="text-center">You're playing <%= link_to @game.name, edit_game_path(@game) %></h2>

<script type="text/javascript">
	// push the rails object to the coffee script
	phrases = '<%= @game.phrases %>';
</script>

<div class="text-center">
<a id="startstop" href="#" onclick="startstop" class="btn btn-large btn-success">Start Playing</a><p><small>or press s</small></p>

<h1 class="text-center" id="phrase">Press start to play</h1>

<a id="next" href="#" onclick="next" class="btn btn-large btn-info">Next Phrase</a>
<p><small>or press the space bar</small></p>
<audio controls id="beep-sound" class="sound-effect">
	<source src="/beep.mp3" type="audio/mpeg">
</audio>
<audio controls id="buzzer-sound" class="sound-effect">
	<source src="/buzzer.mp3" type="audio/mpeg">
</audio>
</div>

</div>
