<% provide(:title, "#{current_user}:#{@game.name}") %>
<h2 class="text-center"><%= @game.name %></h2>

<% phrases = @game.phrases.split(pattern=', ').shuffle %>
<div class="text-center">
<a id="startstop" href="#" onclick="startstop" class="btn btn-large btn-success">Start/Stop</a>

<h1 class="text-center phrase">Phrase here</h1>

<a id="next" href="#" onclick="next" class="btn btn-large btn-info">Next Phrase</a>
</div>


<p>
  <b>Name:</b>
  <%= @game.name %>
</p>
<p>
  <b>Phrases:</b>
  <%= phrases %>
</p>

<%= link_to 'Add phrases', edit_game_path(@game) %>
